/* Reset some default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Navbar Styles */
header {
  background-color: #881c1c; /* UMass Maroon */
  color: white;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease-in-out;
}

nav a:hover, nav a:focus {
  background-color: #701f29; /* A darker shade of maroon for hover state */
}

.logo {
  height: 2rem; /* Adjust based on your actual logo size */
}

/* Profile Icon and Dropdown Menu */
.profile-icon-container {
  position: relative;
  
}

.profile-icon {
  height: 2.2rem; /* Adjust based on the actual icon size */
  vertical-align: middle;
  border-radius: 50px;
}

.user-settings-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 0.25rem;
  display: none;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* subtle shadow for dropdown */
}

.user-settings-dropdown a {
  display: block;
  color: #333;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.user-settings-dropdown a:hover, .user-settings-dropdown a:focus {
  background-color: #eee;
}

.profile-icon-container:hover .user-settings-dropdown,
.profile-icon-container:focus-within .user-settings-dropdown {
  display: block;
}

/* Responsive Navbar Toggle */
.nav-icon, .nav-close-icon {
  display: none;
}

/* Responsive Navbar Styles */
@media (max-width: 768px) {
  .nav-icon {
      display: block;
      background: none;
      border: none;
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
  }

  nav.responsive_nav {
      display: none;
      flex-direction: column;
      align-items: center;
      background-color: #881c1c; /* UMass Maroon */
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
  }

  nav.responsive_nav a {
      width: 100%;
      text-align: center;
      padding: 0.75rem;
      border-top: 1px solid #701f29; /* For a little separation */
  }

  .nav-close-icon {
      display: block;
      position: absolute;
      top: 0.5rem;
      right: 1rem;
  }

  nav.responsive_nav.responsive_nav {
      display: flex;
  }
}
