html, body {
    padding: 0;
    margin: 0;
    background-color: rgb(238, 238, 238);
    font-family: Arial, sans-serif;
}

.chart-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px; /* Sets the maximum width of the chart container */
    margin: 0 auto; /* Centers the chart container if it's smaller than the max-width */
}

canvas {
    width: 100%; /* Ensures the canvas is responsive within the container */
    max-width: 100%; /* Ensures the canvas does not exceed the width of its container */
    height: auto; /* Ensures the height scales proportionally */
    max-height: 400px; /* Sets the maximum height of the canvas */
}


.container {
    width: 100vw;
    padding: 20px;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .container {
        display: block; /* Stacks the boxes vertically on smaller screens */
    }

    .box {
        margin-bottom: 20px; /* Adds space between stacked boxes */
    }
}

@media (min-width: 769px) {
    .container {
        display: flex;
        gap: 20px; /* Gap between elements */
    }

    .box {
        border-radius: 10px; /* Rounded corners */
        overflow: hidden; /* Ensures the border-radius clips the content */
        flex: 1; /* Allow boxes to grow and shrink */
        margin: 10px 0; /* Maintain vertical margin */
    }

    .box:first-child {
        flex-basis: 30%; /* Set the width of the first box to 30% */
    }

    .box:last-child {
        flex-basis: 70%; /* Set the width of the last box to 70% */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .chart-container {
        max-width: 80%; /* Allows the chart container to take more width on medium screens */
    }

    canvas {
        max-height: 300px; /* Sets a medium max-height for the canvas on medium screens */
    }
}


.box {
    background-color: rgb(172, 172, 172);
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f9f9f;
    width: 100%;
    border: 2px solid #000000;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
    padding: 10px;
}

.inner-content {
    width: 100%;
    background-color: #9f9f9f;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 8px; /* Added rounded corners to the inner content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Added subtle shadow for depth */
}

.title {
    flex: 1; /* Allows the title to take up the full width of the parent */
    text-align: center; /* Centers the title text */
    font-weight: bold; /* Optional: Makes the title text bold */
}

.title, .amount {
    text-align: left;
}
