html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100%;
}

.box{
    flex: 1;
    overflow: auto;
}

.left-box{
    background-color: rgb(172, 172, 172);
}

.right-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input[type="text"], input[type="password"]{
    width: 60%;
}

button {
    width: 40%;
    padding: 10px 20px;
    margin: 5px;
}

.login-buttons{
    display: flex;
    width: 40%;
    justify-content: space-between;
}