html, body{
    padding: 0;
    margin: 0;
    background-color: rgb(238, 238, 238);
}

.chart-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-color: rgb(222, 222, 222);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 50vh;
    width: 100vw;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 10px;
    background-color: rgb(172, 172, 172);
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f9f9f;
    width: 100%;
    border: 2px solid #000000;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 222, 222);
}

.inner-content{
    width: 80%;
    background-color: #9f9f9f;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 5px;
}